[Unit]
Description=mbsync service for %I
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync group-%i

[Install]
WantedBy=default.target
